#Android generated
bin
gen
gradle.properties

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#Gradle
.gradle
build

#Other
.DS_Store
tmp
*.swp
*.tmp
*.bak
*.swp
*.launch
Gistr/src/main/libs/*.zip

# Crashlytics
Gistr/src/main/assets/crashlytics-build.properties
Gistr/src/main/res/values/com_crashlytics_export_strings.xml
